
.hero .col img {
    width: 500px;
}

.hero .col p {
    width: 500px;
}

section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.about .col img {
    width: 500px;
    margin: auto;

}

footer {
    padding-bottom: 100px;
    margin-top: 20px;
}

.footer-link {
    opacity: 75%;
}

.footer-link:hover {
    opacity: 100%;
}

.copyright {
    margin-top: 100px;
}

@media (max-width: 1024px) {

    .hero .col img {
        width: 300px;
    }
    .hero .col p {
        font-size: 14px;
        width: 300px;
    }
}

@media (max-width: 992px) {

    #hero {
        padding-top: 50px;

    }

    .hero .col img {
        width: 300px;
    }
    .hero .col p {
        width: 100%;
    }

    .about .col img {
    width: 300px;
    }
}
 
@media (min-width: 1024px) and (max-width: 1200px) {
    .hero .col img {
        width: 400px;
    }
    .hero .col p {
        width: 400px;
    }
}
